.App {
  text-align: center;
  padding: 20px;
  padding-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive columns - one column layout (vertical) on small screens */
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */

.col-item
{
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  background: #f4f4f7;
  position: relative;
  width: 320px;
  height: 420px;
  overflow: hidden;
  margin: 20px 0;
  border: 1px dashed #0071bc;
}

.col-item .photo img
{
  margin: 0 auto;
  width: 100%;
}

.col-item .info
{
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-top: 1px;
}

.col-item .price
{
  float: left;
  margin-top: 5px;
}

.col-item .price h5
{
  line-height: 20px;
  margin: 0;
}

.price-text-color
{
  color: #6754AE;
}

.col-item .separator
{
  border-top: 1px solid #E1E1E1;
}

.clear-left
{
  clear: left;
}

.col-item .separator p
{
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}

.col-item .separator p i
{
  margin-right: 5px;
}

.col-item .section-qty
{
  width: 50%;
  float: left;
  border-right: 1px solid #E1E1E1;
}

.col-item .section-add
{
  width: 50%;
  float: left;
  padding-left: 10px;
}
/* .col-item::before {
  content: '';
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #2196f3;
} */

.header-bg-dark {
  height: 80px;
  background: #1E1E1E;
  color: whitesmoke;
  text-align: center;
}

/***********************************************/

button {

  outline: 0;
  border: 0;
  background: none;
  border: 1px solid #d9d9d9;
  padding: 8px 0px;
  margin-bottom: 30px;
  color: #515151;
  text-transform: uppercase;
  width: 125px;
  font-family: inherit;
  margin-right: 5px;
  transition: all 0.3s ease;
  font-weight: 500;

}

button:hover {
    
  background: darken(white, 2%);
  border: 1px solid #256819;
  color: #aedaa6;
  cursor: pointer;
  
}

/******************************************/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 27%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
  padding-left: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.row-cart-item {
  margin: 0 -5px;
  padding-left: 90px;
  content: "";
  display: table;
  clear: both;

}

.cart-item {
  border: 0;
  border-top: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
}